@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1) 100%), url(../Images/Frame\ 102.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1440px;
    height: 686px;
    flex-shrink: 0;
    border-radius: 0px 0px 16px 16px;
    position: absolute;
}

nav {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.container {    
    display: flex;
    width: 1240px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
    top: 196px;
    left: 100px;
    right: 100px;
}

.container h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    width: 496px;
}

.container span {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.feed-btn {
    display: flex;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #3F6774;
    position: absolute;
    top: 200px;
}

.feed-btn p {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.feed-pages {
    position: relative;
    top: 100px;
}

.pages {
    padding: 6px 10px;
    margin-right: 458.5px;
    margin-left: 458.5px;    
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(9, 18, 22, 0.08);
    position: relative;
    top: 70px;
}

.pages li {
    list-style: none;
    display: inline-block;
    gap: 30px;    
    padding-left: 30px;
}

.pages li:first-child {
    padding-left: 0;
}

.pages li a {        
    color: #09374A;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; 
    text-decoration: none;
    position: relative;
    cursor: pointer;
}



.stay a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #22B4FF;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.tab-contents {
    display: flex;
    height: 309px;
    padding: 28px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    background: rgba(249, 249, 249, 0.72);
    box-shadow: 0px 4px 6px 0px rgba(9, 18, 22, 0.06);
    backdrop-filter: blur(5px);
    position: relative;
    top: 110px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    width: auto;
}

.guest {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 4px 4px 0px rgba(8, 25, 32, 0.02);
    box-sizing: border-box;
    cursor: pointer;
    color: rgba(9, 55, 74, 0.60);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.guest img {
    width: 20px;
}

.search-bar {
    width: 1144px; 
    height: 138px;
    position: absolute;
    bottom: 78px;
}

.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: rgba(217, 217, 217, 0.16);
    
}

.location, .check-in, .check-out {
    display: flex;
    height: 138px;
    padding: 28px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}
.location {
    width: 380px;
    border-radius: 32px 0px 0px 32px;
    border: 1px solid rgba(66, 66, 66, 0.16);
    background: rgba(217, 217, 217, 0.16);
    padding: 28px 32px;
}

.check-in {
    width: 310px;
    border: 1px solid rgba(66, 66, 66, 0.20);
    background: rgba(217, 217, 217, 0.16);
    position: relative;
}

.check-out{
    width: 434px;
    border-radius: 0px 32px 32px 0px;
    border: 1px solid rgba(30, 30, 30, 0.16);
    background: rgba(217, 217, 217, 0.16);
    display: flex;
    flex-direction: row;
    position: relative;
}

.search-bar form label {
    color: #07080A;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.search-bar input { 
    color: #09374A;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px; 
}

.check-in-details {
    width: 243px;
}

.check-out-details {
    width: 218px;
}

.check-in-date img {
    position: absolute;
    bottom: 50px;
    right: 32px;
}

.check-out-date img {
    position: absolute;
    bottom: 50px;
    right: 200px;
}

.search-bar form button {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: linear-gradient(126deg, #0DC5FF 46.84%, rgba(11, 107, 177, 0.50) 120.45%);
    box-shadow: 0px 4px 4px 0px rgba(8, 25, 32, 0.10);
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.filter {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: rgba(9, 55, 74, 0.60);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

main {
    width: 1242px;
    position: absolute;
    top: 792px;
    left: 100px;
}

.favorite {
    width: 1242px;
    height: 84px;
    padding-top: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.text {
    width: 524px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text h1 {
    color: #09374A;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.see-more {
    width: auto;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    color: rgba(7, 8, 10, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}

.favorite-images {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 26px;
    align-self: stretch;
}

.sales {
    width: 1242px;
    height: 394px;
    flex-shrink: 0;
    position: absolute;
    top: 700px;
    border-radius: 32px 32px 0px 0px;
    background: url(../Images/filtered\ light.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}

.sales-heading {
    position: absolute;
    left: 69px;
    margin-top: 38px;
}

.sales h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.sales p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.hotels {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 160px;
    bottom: 26px;
    left: 69px;
    right: 69px;
}

.hotels img {
    width: 330px;
    height: 200px;
    gap: 32px;
    position: inherit;
    border-radius: 32px;
}

.hotel-location {
    width: 246px;
    height: 80px;
    display: flex;
    padding: 0px 9.873px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
    position: absolute;
    bottom: 20px;
}

.hotel-location p {
    color: #EAEAEA;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29.619px;
}

.hotel-location span {
    color: #FFF;
    font-size: 32px;
    line-height: 49.365px;    
}

.hotel-location img {
    width: 53px;
    height: 53px;
}

.footer {
    position: absolute;
    top: 2000px;
    width: 1428px;
    height: 279px;
    background: #232F3B;
}

/* for mobile screen */

@media only screen and (max-width:450px) {
    .header {
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1) 100%), url(../Images/Frame\ 102.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 300px;
        flex-shrink: 0;
        border-radius: 0px 0px 16px 16px;
        position: absolute;
    }
    
    nav {
        display: inline-flex;
        padding: 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 6px 6px 0px 0px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    }

    .container {    
        display: flex;
        width: 410px;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
        position: relative;
        top: 20px;
        bottom: 50px;
        left: 20px;
        right: 20px;
    }
    
    .container h1 {
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        width: 150px;
    }

    .container span {
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    .feed-btn {
        display: flex;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 4px;
        background: #3F6774;
        position: absolute;
        top: 80px;
        color: #FFF;
        font-size: 8px;
        font-weight: 700;
        line-height: 12px;
    }

    .pages {
        padding: 6px 10px;
        margin-right: 125px;
        margin-left: 140px; 
        display: inline-block;   
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: rgba(255, 255, 255, 0.20);
        box-shadow: 0px 4px 4px 0px rgba(9, 18, 22, 0.08);
        position: relative;
        top: 60px;
    }

    .pages li {
        list-style: none;
        display: inline-block;
        gap: 10px;    
        padding-left: 10px;
    }

    .pages li:first-child {
        padding-left: 0;
    }
    
    .pages li a {        
        color: #09374A;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px; 
        text-decoration: none;
        position: relative;
        cursor: pointer;
    }

    .stay a::after {
        content: '';
        width: 100%;
        height: 1.5px;
        background: #22B4FF;
        position: absolute;
        left: 0;
        bottom: -3px;
    }

    /* .feed a::after {
        content: '';
        width: 100%;
        height: 1.5px;
        background: #22B4FF;
        position: absolute;
        left: 0;
        bottom: -3px;
    } */

    .tab-contents {
        display: flex;
        height: 150px;
        margin: 10px;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        align-self: stretch;
        border-radius: 12px;
        background: rgba(249, 249, 249, 0.72);
        box-shadow: 0px 4px 6px 0px rgba(9, 18, 22, 0.06);
        backdrop-filter: blur(5px);
        position: relative;
        top: 70px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        position: relative;
        width: auto;
    }

    .guest {
        display: flex;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        width: 100%;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.90);
        box-shadow: 0px 4px 4px 0px rgba(8, 25, 32, 0.02);
        box-sizing: border-box;
        cursor: pointer;
        color: rgba(9, 55, 74, 0.60);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    .guest img {
        width: 12px;
    }

    .search-bar {
        width: 370px; 
        height: 50px;
        position: absolute;
        bottom: 50px;
    }

    .search-bar form {
        display: flex;
        align-items: center;
        flex-wrap: no-wrap;
    }

    .search-bar form input {
        display: block;
        border: 0;
        outline: none;
        background: rgba(217, 217, 217, 0.16);        
    }

    .location, .check-in, .check-out {
        display: flex;
        height: 60px;
        padding: 10px 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;        
    }

    .location {
        width: 90px;
        border-radius: 16px 0px 0px 16px;
        border: 1px solid rgba(66, 66, 66, 0.16);
        background: rgba(217, 217, 217, 0.16);
    }

    .check-in {
        width: 110px;
        border: 1px solid rgba(66, 66, 66, 0.20);
        background: rgba(217, 217, 217, 0.16);
        position: relative;
    }

    
    .check-out{
        width: 170px;
        flex-grow: 1;
        border-radius: 0px 16px 16px 0px;
        border: 1px solid rgba(30, 30, 30, 0.16);
        background: rgba(217, 217, 217, 0.16);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    .search-bar form label {
        color: #07080A;
        font-family: Inter;
        font-size: 8px;
        font-weight: 500;
        line-height: 12px;
    }

    .search-bar input { 
        color: #09374A;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px; 
    }
    
    .check-in-details {
        width: 60px;
    }
    
    .check-out-details {
        width: 50px;
    }

    .check-in-date img {
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: 18px;
        right: 10px;
    }

    .check-out-date img {
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: 18px;
        right: 75px;
    }

    
    .search-bar form button {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 6px;
        background: linear-gradient(126deg, #0DC5FF 46.84%, rgba(11, 107, 177, 0.50) 120.45%);
        box-shadow: 0px 1px 1px 0px rgba(106, 116, 121, 0.1);
        color: #FFF;
        font-family: Inter;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
    }

    .filter {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 3px;
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: rgba(9, 55, 74, 0.60);
        font-size: 10px;
        font-weight: 500;
        line-height: 18px;
    }

    .filter img {
        width: 10px;
    }

    main {
        width: 390px;
        position: absolute;
        top: 350px;
        left: 30px;
    }

    .favorite {
        width: 390px;
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .text {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .text h1 {
        color: #09374A;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
    }

    .text p {
        font-size: 10px;
    }

    .see-more {
        width: auto;
        height: 12px;
        display: flex;
        padding: 3px;
        align-items: center;
        gap: 5px;
        color: rgba(7, 8, 10, 0.50);
        text-align: center;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px; 
    }

    .see-more img {
        width: 8px;
    }

    .favorite-images {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .favorite-images img {
        width: 200px;
        height: 100px;
    }

    .half img {
        width: 10px;
    }

    .sales {
        width: 390px;
        height: 160px;
        flex-shrink: 0;
        position: absolute;
        top: 180px;
        border-radius: 16px 16px 0px 0px;
        background: url(../Images/filtered\ light.jfif);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sales-heading {
        position: absolute;
        left: 10px;
        margin-top: 5px;
    }

    .sales h2 {
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
    }

    .sales p {
        color: rgba(255, 255, 255, 0.85);
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .hotels {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 40px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }

    .hotels img {
        width: 120px;
        height: 100px;
        gap: 16px;
        position: inherit;
        border-radius: 16px;
    }
 
    .hotel-location {
        width: 100px;
        height: 20px;
        display: flex;
        padding: 0px 3px;
        margin: 5px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        position: absolute;
        bottom: 20px;
    }

    .hotel-location p {
        color: #EAEAEA;
        text-align: left;
        font-family: Inter;
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
    }
    
    .hotel-location span {
        color: #FFF;
        font-size: 16px;
        line-height: 12px;    
    }
    
    .hotel-location img {
        width: 20px;
        height: 20px;
    }

    .footer {
        position: fixed;
        top: 550px;
        width: 1428px;
        height: 279px;
        background: #232F3B;
    }  
}

/* CSS FOR FEED */

.feed a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #22B4FF;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.feed-main {
    position: absolute;
    top: 622px;
}

.sales-feed {
    width: 1242px;
    height: 394px;
    flex-shrink: 0;
    position: absolute;
    top: 2500px;
    border-radius: 32px 32px 0px 0px;
    background: url(../Images/filtered\ light.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}


/* feed for small devices */

@media only screen and (max-width:450px) {
    .feed a::after {
        content: '';
        width: 100%;
        height: 1.5px;
        background: #22B4FF;
        position: absolute;
        left: 0;
        bottom: -3px;
    }
    
    .feed-main {
        position: absolute;
        top: 250px;
    }
    
    .sales-feed {
        width: 390px;
        height: 160px;
        flex-shrink: 0;
        position: absolute;
        top: 800px;
        border-radius: 16px 16px 0px 0px;
        background: url(../Images/filtered\ light.jfif);
        background-size: cover;
        background-repeat: no-repeat;

    }
}